.container {
    max-width: 1200px;  /* Define a largura máxima dos cards */
    margin: 0 auto;     /* A mágica que centraliza o bloco no meio da tela */
    padding: 0 1rem;    /* Garante que não encoste nas bordas em telas médias */
}