.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; 
}

@media screen and (max-width: 575px) {
    .p-toast {
        width: 90vw !important;
        left: 5vw !important;
    }
}