<div class="container mt-5 px-4">
  <h2 class="font-bold mb-4 text-900">
    {{ !modoEdicao ? 'NOVO QUESTIONÁRIO' : 'EDIÇÃO DE PERGUNTAS' }}
  </h2>

  <div class="grid">
    @if (!modoEdicao) {
      <p-card>
        <div class="flex flex-column md:flex-row gap-4 align-items-end">
          <div class="flex flex-column gap-2 flex-grow-1">
            <label class="font-bold">Nome do Questionário</label>
            <div class="p-inputgroup">
              <input
                type="text"
                pInputText
                [(ngModel)]="nomeQuestionario"
                placeholder="Ex: Questionário de Java"
                class="w-full"
              />
              <button
                pButton
                icon="pi pi-check"
                label="Criar"
                (click)="criarQuestionario()"
                [disabled]="!nomeQuestionario || !cursoId"
              ></button>
            </div>
          </div>

          <div class="flex flex-column gap-2 min-w-max">
            <label class="font-bold">Curso Alvo</label>
            <p-select
              [options]="cursos()"
              [(ngModel)]="cursoId"
              optionLabel="nome"
              optionValue="id"
              placeholder="Selecione um curso"
              styleClass="w-full md:w-20rem"
            ></p-select>
          </div>
        </div>
      </p-card>
    } @else {
      <div class="fadein animation-duration-500">
        <div class="flex justify-content-between align-items-center mb-4">
          <h2>Perguntas Cadastradas</h2>
          <p-button label="Nova Pergunta" icon="pi pi-plus" (click)="exibirDialog.set(true)" />
        </div>

        <p-card>
          <p-table [value]="questionario().perguntas" ...> </p-table>
        </p-card>
        @if (exibirDialog()) {
          <app-pergunta-dialog
            (onSalvar)="salvarQuestionarioComPerguntas($event)"
            (onCancelar)="exibirDialog.set(false)"
          />
        }
      </div>
    }
  </div>
</div>
