<div class="container">
  <h2 class="font-bold mb-4 text-900">
    {{ !modoEdicao ? 'NOVO QUESTIONÁRIO' : 'EDIÇÃO DE PERGUNTAS' }}
  </h2>

  <div class="grid">
    @if (!modoEdicao) {
      <div class="col-12 grid">
        <div class="col-12">
          <p-card class="block mb-4">
            <div class="grid align-items-end">
              <div class="col-12 md:col-8">
                <label class="font-bold block mb-2">Nome do Questionário</label>
                <div class="p-inputgroup">
                  <input
                    type="text"
                    pInputText
                    [(ngModel)]="nomeQuestionario"
                    placeholder="Ex: Introdução ao Java"
                  />
                  <button
                    pButton
                    icon="pi pi-check"
                    label="Criar Questionário"
                    (click)="criarQuestionario()"
                    [disabled]="!nomeQuestionario || !cursoId"
                  ></button>
                </div>
              </div>

              <div class="col-12 md:col-4">
                <label class="font-bold block mb-2">Curso Alvo</label>
                <p-select
                  [options]="cursos()"
                  [(ngModel)]="cursoId"
                  optionLabel="nome"
                  optionValue="id"
                  placeholder="Selecione um curso"
                  class="w-full"
                ></p-select>
              </div>
            </div>
          </p-card>
        </div>

        <div class="col-12">
          <p-card class="shadow-1">
            <h3 class="mt-0 mb-3">Questionários Cadastrados</h3>
            <p-table
              [value]="questionariosParaExibir()"
              [paginator]="true"
              [rows]="10"
              class="p-datatable-sm"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Descricao</th>
                  <th>Curso</th>
                  <th class="text-center" style="width: 100px">Ações</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-q>
                <tr>
                  <td>{{ q.questionarioDescricao }}</td>
                  <td>{{ q.cursoNome }}</td>
                  <td class="text-center">
                    <button
                      pButton
                      icon="pi pi-pencil"
                      class="p-button-rounded p-button-text"
                      pTooltip="Editar"
                      [routerLink]="['/cursos', q.cursoId, 'questionarios', q.questionarioId]"
                    ></button>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="3" class="text-center">Nenhum questionário encontrado.</td>
                </tr>
              </ng-template>
            </p-table>
          </p-card>
        </div>
      </div>
    } @else {
      <div class="col-12 md:p-2">
        <div class="fadein animation-duration-500">
          <div class="flex flex-column md:flex-row justify-content-between gap-3 mb-4">
            <h2 class="m-0">Perguntas Cadastradas</h2>
            <p-button label="Nova Pergunta" icon="pi pi-plus" (click)="prepararNovaPergunta()" />
          </div>

          <p-card class="shadow-2">
            <p-table
              [value]="questionario().perguntas"
              responsiveLayout="stack"
              [breakpoint]="'980px'"
              class="p-datatable-sm"
            >
              <ng-template #header>
                <tr>
                  <th>Enunciado</th>
                  <th>Opções</th>
                  <th style="width: 8rem">Ações</th>
                </tr>
              </ng-template>
              <ng-template #body let-pergunta>
                <tr>
                  <td class="white-space-normal" style="word-break: break-word">
                    <span class="p-column-title font-bold custom-hidden">Enunciado</span>
                    {{ pergunta.enunciado }}
                  </td>
                  <td>
                    <span class="p-column-title font-bold custom-hidden">Opções</span>
                    {{ pergunta.opcoes.length }} opções
                  </td>
                  <td class="text-center">
                    <span class="p-column-title font-bold custom-hidden jus">Ações</span>
                    <div class="flex gap-2">
                      <button
                        pButton
                        icon="pi pi-pencil"
                        (click)="prepararEdicao(pergunta)"
                        class="p-button-text p-button-sm"
                      ></button>
                      <button
                        pButton
                        icon="pi pi-trash"
                        (click)="confirmarExclusao(pergunta)"
                        class="p-button-danger p-button-text p-button-sm"
                      ></button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-card>

          @if (exibirDialog()) {
            <app-pergunta-dialog
              [pergunta]="perguntaParaEnviar()"
              (onSalvar)="
                perguntaParaEnviar()
                  ? salvarEditada($event)
                  : salvarQuestionarioComPerguntas($event)
              "
              (onCancelar)="fecharDialog()"
            />
          }
        </div>
      </div>
    }
  </div>
</div>

<p-confirmDialog />
