
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --p-font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #eaedf5;
    color: #334155;
}

.p-card {
    border-radius: 12px !important;
    border: none !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05) !important;
}



.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem; 
}

a {
  color: #337ab7;
  text-decoration: none;
}
  
a:hover, a:focus {
  text-decoration: underline;
}
  
a.p-button:hover,
a.p-button:focus {
  text-decoration: none;
}

.ticker-wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}


.ticker-text {
  display: inline-block;
  padding-left: 100%;
  animation: ticker-animation 25s linear infinite;
}

@keyframes ticker-animation {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}

.ticker-wrapper:hover .ticker-text {
  animation-play-state: paused;
}

@media screen and (max-width: 980px) {
    .custom-hidden {
        display: inline-block;
        margin-right: 10px;
    }

    :host ::ng-deep .p-datatable-stack .p-datatable-tbody > tr > td {
        display: flex !important;
        justify-content: space-between !important;
        width: 100% !important;
        text-align: right !important;
        padding: 1rem !important;
    }

    .custom-flex-align {
        justify-content: flex-end !important;
    }
}

@media screen and (min-width: 981px) {
    .custom-hidden {
        display: none;
    }

    :host ::ng-deep .p-datatable-stack .p-datatable-tbody > tr > td {
        display: table-cell !important;
        text-align: left !important;
        padding: 0.5rem 1rem !important;
    }
    
    .custom-flex-align {
        justify-content: center !important;
    }
}

@media screen and (max-width: 980px) {
    :host ::ng-deep .p-datatable-responsive-stack .p-datatable-tbody > tr > td {
        display: flex !important;
        align-items: center !important;
        justify-content: flex-start !important;
        width: 100% !important;
        padding: 1rem !important;
        gap: 1rem;
    }

    .custom-flex-align {
        margin-left: auto; 
    }
}
